#####################################################
#
# List of approvers for OpenTelemetry Website repository
#
#####################################################
#
# Learn about membership in OpenTelemetry community:
#  https://github.com/open-telemetry/community/blob/main/community-membership.md
#
#
# Learn about CODEOWNERS file format:
#  https://help.github.com/en/articles/about-code-owners
#

# Global owners, will be the owners for everything in the repo.
* @open-telemetry/docs-approvers

# content owners
content/en/blog/                         @open-telemetry/docs-approvers @open-telemetry/blog-approvers
content/en/community/end-user/           @open-telemetry/docs-approvers @open-telemetry/end-user-wg
content/en/docs/collector                @open-telemetry/docs-approvers @open-telemetry/collector-approvers
content/en/docs/demo                     @open-telemetry/docs-approvers @open-telemetry/demo-approvers
content/en/docs/instrumentation/cpp/     @open-telemetry/docs-approvers @open-telemetry/cpp-approvers
content/en/docs/instrumentation/erlang/  @open-telemetry/docs-approvers @open-telemetry/erlang-approvers
content/en/docs/instrumentation/go/      @open-telemetry/docs-approvers @open-telemetry/go-instrumentation-approvers
content/en/docs/instrumentation/java/    @open-telemetry/docs-approvers @open-telemetry/java-approvers @open-telemetry/java-instrumentation-approvers
content/en/docs/instrumentation/js/      @open-telemetry/docs-approvers @open-telemetry/javascript-approvers
content/en/docs/instrumentation/net/     @open-telemetry/docs-approvers @open-telemetry/dotnet-approvers @open-telemetry/dotnet-instrumentation-approvers
content/en/docs/instrumentation/php/     @open-telemetry/docs-approvers @open-telemetry/php-approvers
content/en/docs/instrumentation/python/  @open-telemetry/docs-approvers @open-telemetry/python-approvers
content/en/docs/instrumentation/ruby/    @open-telemetry/docs-approvers @open-telemetry/ruby-approvers @open-telemetry/ruby-contrib-approvers
content/en/docs/instrumentation/rust/    @open-telemetry/docs-approvers @open-telemetry/rust-approvers
content/en/docs/instrumentation/swift/   @open-telemetry/docs-approvers @open-telemetry/swift-approvers
content/en/docs/k8s-operator             @open-telemetry/docs-approvers @open-telemetry/operator-approvers
content/en/ecosystem/demo/               @open-telemetry/demo-approvers @open-telemetry/demo-approvers
content/en/docs/specs/                   @open-telemetry/docs-approvers @open-telemetry/specs-approvers
