[submodule "themes/docsy"]
	path = themes/docsy
	url = https://github.com/google/docsy.git
[submodule "content-modules/opentelemetry-go"]
	path = content-modules/opentelemetry-go
	url = https://github.com/open-telemetry/opentelemetry-go
[submodule "content-modules/opentelemetry-specification"]
	path = content-modules/opentelemetry-specification
	url = https://github.com/open-telemetry/opentelemetry-specification.git
