# Hugo-generated assets
/public
resources/

# npm assets
node_modules/
package-lock.json

# Generated data
data/progress_generated.yaml

# Link checker
tmp/

scripts/collector.yaml
assets/jsconfig.json

# IntelliJ
*.iml

# Generated content
/content/en/docs/reference/specification/**/*.md
/content/en/docs/reference/specification/**/*.png
!/content/en/docs/reference/specification/_index.md
