# Hugo-generated assets
.hugo_build.lock
/public
/resources

# npm assets
node_modules/
package-lock.json
pnpm-lock.yaml

# Link checker
tmp/

# macOS
.DS_Store

# Misc
scripts/collector.yaml
assets/jsconfig.json
/.netlify

# IntelliJ
*.iml

# VS Code
/.vscode/**

# WebStorm
/.idea/**

.dart_tool
pubspec.lock

# cSpell:ignore pubspec
