# Hugo-generated assets
.hugo_build.lock
/public
resources/

# npm assets
node_modules/
package-lock.json

# Link checker
tmp/

# Misc
scripts/collector.yaml
assets/jsconfig.json

# Generated content
/content/en/docs/reference/specification/**/*.md
/content/en/docs/reference/specification/**/*.png
!/content/en/docs/reference/specification/_index.md

# IntelliJ
*.iml

# VS Code
/.vscode/**
!/.vscode/cspell.json
