[submodule "themes/docsy"]
	path = themes/docsy
	url = https://github.com/cncf/docsy.git
	docsy-pin = v0.9.1-17-gb077a74
	docsy-reminder = "Ensure that all tags from google/docsy are also present in cncf/docsy, otherwise add (push) them."
[submodule "content-modules/opentelemetry-specification"]
	path = content-modules/opentelemetry-specification
	url = https://github.com/open-telemetry/opentelemetry-specification.git
	spec-pin = v1.31.0
[submodule "content-modules/community"]
	path = content-modules/community
	url = https://github.com/open-telemetry/community
	community-pin = f16a58e
[submodule "content-modules/opentelemetry-proto"]
	path = content-modules/opentelemetry-proto
	url = https://github.com/open-telemetry/opentelemetry-proto
	otlp-pin = v1.1.0
[submodule "content-modules/semantic-conventions"]
	path = content-modules/semantic-conventions
	url = https://github.com/open-telemetry/semantic-conventions
	semconv-pin = v1.24.0
[submodule "content-modules/opamp-spec"]
	path = content-modules/opamp-spec
	url = https://github.com/open-telemetry/opamp-spec
	opamp-pin = v0.8.0-5-g0360da8
[submodule "content-modules/opentelemetry-go"]
	path = content-modules/opentelemetry-go
	url = https://github.com/open-telemetry/opentelemetry-go
  go-pin = v1.23.0-rc.1-31-geabcef4c2
