# Base

/iconography
/themes

/layouts/*

/content/en/blog/2019
/content/en/blog/202[23]
# TEMPORARY until the PR introducing this file is merged:
/content/en/docs/_includes/exporters/intro.md

/content/ja
/content/zh

# Ignore content-modules except for published Community pages

/content-modules/*
!/content-modules/community
/content-modules/community/*
!/content-modules/community/mission-vision-values.md
!/content-modules/community/roadmap.md
