[build]
publish = "public"
command = "npm run seq -- build:preview diff:check"

[context.production]
command = "npm run seq -- build:production diff:check"

[[redirects]]
from = "https://docs.opentelemetry.io/*"
to = "https://opentelemetry.io/docs/:splat"
force = true

[[redirects]]
from = "https://blog.opentelemetry.io/*"
to = "https://opentelemetry.io/blog/:splat"
force = true

# Ensure that there is a header entry for each major version of the published
# schemas. (If this becomes too bothersome to update, we can automate the
# creation of these schema header entries in a `_headers` file using Hugo
# templating constructs.)

[[headers]]
  for = "/schemas/1.:version"
  [headers.values]
    content-type = "application/yaml"

[[headers]]
  for = "/schemas/2.:version"
  [headers.values]
    content-type = "application/yaml"
