[build]
publish = "public"
command = "npm run seq -- build:preview diff:check"

[context.production]
command = "npm run seq -- build:production diff:check"

[[redirects]]
from = "https://docs.opentelemetry.io/*"
to = "https://opentelemetry.io/docs/:splat"
force = true

[[redirects]]
from = "https://blog.opentelemetry.io/*"
to = "https://opentelemetry.io/blog/:splat"
force = true

[[headers]]
  for = "/schemas/list/"
  [headers.values]
    content-type = "text/html"

[[headers]]
  for = "/schemas/:version"
  [headers.values]
    content-type = "application/yaml"
