{{ define "main" }}
{{ $registryItems := where .Data.Pages "Params.layout" "!=" "search" }}
{{ $search := resources.Get "js/registrySearch.js" | fingerprint }}

{{ $languages := newScratch }}
{{ $languages.Set "collector" "Collector" }}
{{ $languages.Set "cpp" "C++" }}
{{ $languages.Set "dotnet" ".NET" }}
{{ $languages.Set "erlang" "Erlang" }}
{{ $languages.Set "go" "Go" }}
{{ $languages.Set "java" "Java" }}
{{ $languages.Set "js" "JavaScript" }}
{{ $languages.Set "php" "PHP" }}
{{ $languages.Set "python" "Python" }}
{{ $languages.Set "ruby" "Ruby" }}
{{ $languages.Set "rust" "Rust" }}

{{ $types := newScratch }}
{{ $types.Set "core" "Core" }}
{{ $types.Set "instrumentation" "Instrumentation" }}
{{ $types.Set "exporter" "Exporter" }}
{{ $types.Set "utilities" "Utilities" }}

<a class="td-offset-anchor"></a>
<section class="row td-box td-box--1 position-relative td-box--gradient td-box--height-auto">
	<div class="container text-center td-arrow-down">
		<span class="h4 mb-0">
<h1>OpenTelemetry Registry</h1>

<p>Find libraries, plugins, integrations, and other useful tools for extending OpenTelemetry.
</span>
	</div>
</section>

<div class="td-content">
  <section class="row pb-5">
    <div class="col align-self-center">
      <form action="{{ "/registry" | absURL }}" id="searchForm">
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">Search</span>
          </div>
          <input type="text" name="s" class="form-control" id="search-query" aria-label="Registry Search Input Field">
          <input type="hidden" name="component" id="input-component" value="" />
          <input type="hidden" name="language" id="input-language" value="" />

          <div class="input-group-append">
            <button type="button" class="btn btn-outline-success" onclick="document.getElementById('searchForm').submit();">Submit</button>
            <button type="button" class="btn btn-outline-danger"  onclick="document.getElementById('search-query').value = ''; document.getElementById('input-language').value = 'all';document.getElementById('input-component').value = 'all';document.getElementById('searchForm').submit();">Reset</button>
            <div>
              <button class="btn btn-outline-secondary dropdown-toggle" id="languageDropdown" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Language</button>
              <div class="dropdown-menu" id="languageFilter">
                <a value="all" class="dropdown-item" href="#">Any Language</a>
                {{ range $registryItems.GroupByParam "language" }}
                <a value={{.Key}} id="language-item-{{.Key}}" class="dropdown-item" href="#">{{ $languages.Get .Key }}</a>
                {{ end }}
              </div>
            </div>
            <div>
              <button class="btn btn-outline-secondary dropdown-toggle" id="componentDropdown" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Type</button>
              <div class="dropdown-menu" id="componentFilter">
                <a value="all" class="dropdown-item" href="#">Any Component</a>
                {{ range $registryItems.GroupByParam "registryType" }}
                <a value={{.Key}} id="component-item-{{.Key}}" class="dropdown-item" href="#">{{ $types.Get (lower .Key) }}</a>
                {{ end }}
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </section>

  <section class="row ml-2 pt-0">
    <div class="mx-auto">
      <ul class="list-unstyled">
      <div id="search-results"></div>
      <div id="default-body">
      {{ range $registryItems }}
        <li class="media" data-registrytype="{{ .Params.registryType }}" data-registrylanguage="{{ .Params.language }}">
          <div class="media-body">
            <a href="{{ .Params.repo }}"><h5 class="mt-0 mb-1">{{ .Params.title }}</h5></a>
            {{ .Params.description }}
            <span class="badge badge-{{.Params.registryType}} float-right">{{ .Params.registryType }}</span>
            <span class="badge badge-{{.Params.language}} float-right mr-2">{{ .Params.language }}</span>
          </div>
        </li>
      {{ end }}
      </div>
      </ul>
    </div>
  </section>
  <script id="search-result-template" type="text/x-js-template">
    <li class="media" data-registrytype="${registryType}" data-registrylanguage="${language}">
      <div class="media-body">
        <a href=${repo}><h5 class="mt-0 mb-1">${title}</h5></a>
        ${description}
        <span class="badge badge-${registryType} float-right">${registryType}</span>
        <span class="badge badge-${language} float-right mr-2">${language}</span>
      </div>
    </li>
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/fuse.js/3.2.0/fuse.min.js"></script>
  <script src="{{ $search.RelPermalink }}" integrity="{{ $search.Data.Integrity }}" type="application/javascript"></script>
</div>
{{ end }}
