{{ define "main" }}
<div class="container">
    <div class="section">
        <div class="columns is-left">
          <div class="column">
            <a href="/registry">Go Back</a>
          </div>
        </div>
    </div>
    <div class="section">
      <div class="tile is-ancestor is-center">
        <div class="tile is-6 is-parent is-vertical is-info">
          <div class="level">
            <div class="level-left">
              <p class="title">{{ .Params.title }}</p>
            </div>
            <div class="level-right">
              <span class="icon has-text-info">
                {{ if not (.Params.isThirdParty) }}
                  <i class="fas fa-check-circle"></i>
                {{ end }}
              </span>
            </div>
          </div>
          <div class="tile is-child notification is-warning">
            <p class="subtitle"><a href={{ .Params.repo }} class="badge badge-info">View Repository</a></p>
          </div>
          <div class="tile is-child notification is-success">
            <p class="subtitle">By {{ .Params.authors }}</p>
            <p class="is-small">Licensed under {{ .Params.license }}</p>
          </div>
          <span class="tag">{{ .Params.registryType }}</span>
        </div>
        <div class="tile is-8 notification is-parent is-vertical">
          <div class="content">
            <p>{{ .Params.description }}</p>
          </div>
          <div class="tile is-child">
            <p class="subtitle">Tagged as: </p>
            <div class="tags">
              {{ range .Params.tags }}
              <span class="tag is-medium is-primary is-light">{{ . }}</span>
              {{ end }}
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
{{ end }}
