$strokeColor: #b3b3b3
$yLabelFill: #999999
$xLabelFill: #000000
$labelFont: "Noto Sans"

$netColor: #178600
$golangColor: #00ADD8
$jsColor: #f1e05a
$javaColor: #b07219
$pyColor: #3572A5
$rbColor: #701516
$phpColor: #4F5D95
$erlangColor: #B83998
$cppColor: #f34b7d
$collectorColor: #FF7F50

$baseLightenPercentage: 80%

.progressChart
  .stroke, .dashStroke
    stroke: $strokeColor
    stroke-miterlimit: 10;
    stroke-width: 2px;
  
  .dashStroke
    stroke-dasharray: 5 5;
  
  .yLabel
    font-size: 34px;
    fill: $yLabelFill
    font-family: $labelFont
  
  .xLabel
    font-size: 34px;
    fill: $xLabelFill
    font-family: $labelFont
    font-weight: bold
  
  .hoverLabel
    display: none
    font-size: 20px
    font-family: $labelFont
    font-weight: light
    fill: white

    &:hover
      display: block
  
  .color__NET
    fill: $netColor
    
    &.isBase
      fill: scale-color($netColor, $lightness: $baseLightenPercentage)
  
  .color__Go
    fill: $golangColor

    &.isBase
      fill: scale-color($golangColor, $lightness: $baseLightenPercentage)
  
  .color__JavaScript
    fill: $jsColor
    &.isBase
      fill: scale-color($jsColor, $lightness: $baseLightenPercentage)
  .color__Java
    fill: $javaColor
    &.isBase
      fill: scale-color($javaColor, $lightness: $baseLightenPercentage)
  .color__Python
    fill: $pyColor
    &.isBase
      fill: scale-color($pyColor, $lightness: $baseLightenPercentage)
  .color__Ruby
    fill: $rbColor
    &.isBase
      fill: scale-color($rbColor, $lightness: $baseLightenPercentage)
  .color__PHP
    fill: $phpColor
    &.isBase
      fill: scale-color($phpColor, $lightness: $baseLightenPercentage)
  .color__Erlang
    fill: $erlangColor
    &.isBase
      fill: scale-color($erlangColor, $lightness: $baseLightenPercentage)
  .color__C
    fill: $cppColor
    &.isBase
      fill: scale-color($cppColor, $lightness: $baseLightenPercentage)
  .color__Collector
    fill: $collectorColor
    &.isBase
      fill: scale-color($collectorColor, $lightness: $baseLightenPercentage)
