$strokeColor: #b3b3b3
$yLabelFill: #999999
$xLabelFill: #000000
$labelFont: "Noto Sans"

$netColor: #178600
$golangColor: #00ADD8
$jsColor: #f1e05a
$javaColor: #b07219
$pyColor: #3572A5
$rbColor: #701516
$phpColor: #4F5D95
$erlangColor: #B83998
$cppColor: #f34b7d
$collectorColor: #FF7F50

$baseLightenPercentage: 80%

.progressChart
  .stroke, .dashStroke
    stroke: $strokeColor
    stroke-miterlimit: 10;
    stroke-width: 2px;
  
  .dashStroke
    stroke-dasharray: 12 12;
  
  .yLabel
    font-size: 34px;
    fill: $yLabelFill
    font-family: $labelFont
  
  .xLabel
    font-size: 34px;
    fill: $xLabelFill
    font-family: $labelFont
    font-weight: bold
  
  .netColor
    fill: $netColor
    
    &.isBase
      fill: scale-color($netColor, $lightness: $baseLightenPercentage)
  
  .golangColor
    fill: $golangColor

    &.isBase
      fill: scale-color($golangColor, $lightness: $baseLightenPercentage)
  
  .jsColor
    fill: $jsColor
    &.isBase
      fill: scale-color($jsColor, $lightness: $baseLightenPercentage)
  .javaColor
    fill: $javaColor
    &.isBase
      fill: scale-color($javaColor, $lightness: $baseLightenPercentage)
  .pyColor
    fill: $pyColor
    &.isBase
      fill: scale-color($pyColor, $lightness: $baseLightenPercentage)
  .rbColor
    fill: $rbColor
    &.isBase
      fill: scale-color($rbColor, $lightness: $baseLightenPercentage)
  .phpColor
    fill: $phpColor
    &.isBase
      fill: scale-color($phpColor, $lightness: $baseLightenPercentage)
  .erlangColor
    fill: $erlangColor
    &.isBase
      fill: scale-color($erlangColor, $lightness: $baseLightenPercentage)
  .cppColor
    fill: $cppColor
    &.isBase
      fill: scale-color($cppColor, $lightness: $baseLightenPercentage)
  .collectorColor
    fill: $collectorColor
    &.isBase
      fill: scale-color($collectorColor, $lightness: $baseLightenPercentage)
