  main {
    margin: 8px;
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  button {
    color: #fff;
    background-color: #3298dc;
    border-color: transparent;
    cursor: pointer;
    text-align: center;
  }

  button:hover {
    background-color: #2793da;
    flex: none;
  }

  .spacer {
    flex: auto;
  }

  .small {
    font-size: 0.75rem;
  }

  footer {
    margin-top: 16px;
    display: flex;
    align-items: center;
  }

  .benchmark-set {
    margin: 8px 0;
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .benchmark-title {
    font-size: 3rem;
    font-weight: 600;
    word-break: break-word;
    text-align: center;
  }

  .benchmark-graphs {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
  }

  .benchmark-chart {
    max-width: 1000px;
  }

  div.container {
    max-width: 1012px;
    margin-right: auto;
    margin-left: auto;
  }