// Button and button groups

.l-buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 1rem;
  margin-bottom: 1rem;

  > ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;

    margin: 0;
    padding: 0;

    > li {
      display: inline;
      > a {
        @extend .btn;

        &:hover {
          text-decoration: none;
        }
      }
    }
  }
}
// TODO: remove once all locale homepages have been updated
.l-get-started-buttons {
  @extend .l-buttons;

  > ul > li > a /*, > p > a*/ {
    @extend .btn-lg;
    @extend .btn-secondary;
  }
}

.l-primary-buttons {
  @extend .l-buttons;

  > ul > li > a {
    @extend .btn-lg;
    @extend .btn-primary;
  }
}
