.registry {
  display: block;

  &__main {
    min-width: 100%;
    margin: $registry-vertical-margin 0;
  }
    
  &__search {
    min-width: 100%;
    margin: $registry-vertical-margin 0;
  }
    
  &__header {
    background-color: $green;
  }
}

.badge.badge-core {
  color: white;
  background-color: $core;
}

.badge.badge-instrumentation {
  color: white;
  background-color: $instrumentation;
}

.badge.badge-exporter {
  color: white;
  background-color: $exporter;
}

.badge.badge-receiver {
  color: white;
  background-color: $receiver;
}

.badge.badge-processor {
  color: white;
  background-color: $processor;
}

.badge.badge-utilities {
  color: white;
  background-color: $utilities;
} 

.badge-tracer {
  color: white;
  background-color: $dark-blue;
}

.badge-instrumentation {
  color: white;
  background-color: $green;
}

.badge.badge-dotnet {
  color: white;
  background-color: $dotnet;
}

.badge.badge-cpp {
  color: white;
  background-color: $cpp;
}

.badge.badge-erlang {
  color: white;
  background-color: $erlang;
}

.badge.badge-go {
  color: white;
  background-color: $go;
}

.badge.badge-java {
  color: white;
  background-color: $java;
}

.badge.badge-js {
  color: white;
  background-color: $javascript;
}

.badge.badge-php {
  color: white;
  background-color: $php;
}

.badge.badge-python {
  color: white;
  background-color: $python;
}

.badge.badge-ruby {
  color: white;
  background-color: $ruby;
}

.badge.badge-rust {
  color: white;
  background-color: $rust;
}

.badge.badge-collector {
  color: white;
  background-color: $collector;
}
