.badge {
  @each $component, $color in $otel-component-colors {
    &.badge-#{$component} {
      color: white;
      background-color: $color;
    }
  }

  @each $component, $color in $otel-registry-license-colors {
    &.badge-#{$component} {
      color: white;
      background-color: $color;
    }
  }

  &.badge-elixir {
    color: map-get($otel-component-colors, erlang);
    background-color: inherit;
    border: solid 1px;
  }

  &.badge-js {
    color: inherit;
  }

  &.badge-kotlin {
    color: map-get($otel-component-colors, java);
    background-color: inherit;
    border: solid 1px;
  }

  // Default color attributes, in case we miss a component definition above;
  // which has happened, see https://github.com/open-telemetry/opentelemetry.io/pull/2481.
  $default-otel-badge-bg: $yellow;
  color: color-contrast($default-otel-badge-bg);
  background-color: $default-otel-badge-bg;
}

.registry-entry {
  @extend .shadow;
}

// fix me: the registry seems not to load the main.min.css with the extended
// styles, so we need to define the styles here again.
.highlight {
  margin: 1rem 0;
  padding: 0;
  position: relative;
  max-width: 80%;
  border: var(--bs-card-border-width) solid var(--bs-card-border-color);
  border-radius: var(--bs-card-border-radius);
  & pre {
    padding: 1rem;
    margin: 0;
    display: block;
    text-align: right;
    overflow-y: auto;
    & button.td-click-to-copy {
      position: absolute;
      color: #ced4da;
      border-radius: 3px;
      border-width: 0;
      background-color: inherit;
      box-shadow: 1px 1px #ced4da;
      right: 4px;
      top: 2px;
    }
  }
}
