/* Docsy-delta full file override: we're not tracking changes to the Docsy file of the same name. */
// cSpell:ignore docsy

@import 'registry';
@import 'tabs';
@import 'external_link';
@import 'td/color-adjustments-dark';
@import 'td/code-dark';
@import 'dark-adjustments';
@import 'td/gcs-search-dark';

@import 'blog';
@import 'buttons';
@import 'docsy';
@import 'home';
@import 'homepage';
@import 'java';
@import 'navbar';
@import 'page_no_left_sidebar';
@import 'training';

details {
  margin-bottom: $paragraph-margin-bottom;
}

.otel-docs-spec {
  .td-page-meta__edit {
    display: none !important;
  }
}

.otel-mermaid-max-width pre.mermaid {
  max-width: inherit;
}

body.td-page--draft .td-content {
  position: relative;

  &::after {
    content: 'Draft';
    position: absolute;
    top: 10vw;
    left: 50%;
    transform: translate(-50%, 0) rotate(-45deg);
    color: rgba(255, 0, 0, 0.3);
    font-size: 18vw;
    z-index: 9999;
    pointer-events: none;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    max-width: max-content;
  }
}

// Google translate select / dropdown

.goog-te-gadget {
  // cSpell:ignore goog
  padding-top: 1rem;
  margin-bottom: -0.5rem;

  @include media-breakpoint-up(md) {
    padding-left: 0.6rem;
  }
}
