/* Docsy-delta full file override: we're not tracking changes to the Docsy file of the same name. */
// cSpell:ignore cncf docsy

@import 'registry';
@import 'tabs';
@import 'external_link';

.td-home {
  .otel-logo {
    margin-top: 2rem;
    margin-bottom: 3rem;
    max-height: 12rem;
    // max-width: 85%;
  }

  .td-box--white .container blockquote {
    font-size: smaller;
  }
}

.l-buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 1rem;
  margin-bottom: 1rem;

  > ul {
    list-style: none;
    margin: 0;
    padding: 0;

    > li {
      display: inline;
      > a {
        @extend .btn;
        margin: 0.25rem;
      }
    }
  }
}

.l-get-started-buttons {
  @extend .l-buttons;

  > ul > li > a /*, > p > a*/ {
    @extend .btn-lg;
    @extend .btn-secondary;
  }
}

.l-primary-buttons {
  @extend .l-buttons;

  > ul > li > a {
    @extend .btn-lg;
    @extend .btn-primary;
  }
}

//override the button classes for the Status page only
.l-status-primary {
  @extend .l-buttons;
  justify-content: left;

  > ul > li > a /*, > p > a*/ {
    @extend .btn-lg;
    @extend .btn-primary;
    padding: 20px;
    border-radius: 0;
    min-width: 220px;
  }
}

.l-status-secondary {
  @extend .l-buttons;
  justify-content: left;

  > ul > li > a /*, > p > a*/ {
    @extend .btn-lg;
    @extend .btn-secondary;
    padding: 20px;
    border-radius: 0;
    min-width: 150px;
    color: #2f4f4f;
  }
}

.td-navbar {
  .navbar-brand {
    @include media-breakpoint-up(md) {
      padding: 0;
    }
    svg {
      height: 48px;
    }
    .navbar-brand__name {
      display: none;
    }
  }
}

.foldable-nav {
  padding-top: 0.5rem;
} // TODO: propagate this fix to Docsy. Also class name should be prefixed with td

// Adjust the spacing of page-meta and page-TOC (https://github.com/open-telemetry/opentelemetry.io/pull/354)
.td-toc #TableOfContents {
  padding-top: 1rem;
}

// Homepage
#cncf {
  width: 100%;
  text-align: center;

  p {
    font-size: 18px;
    margin-bottom: 0;
  }

  img {
    margin-top: 1rem;
    width: 20rem;
    max-width: 80%;
  }

  a.external-link:after {
    display: none;
  }
}

.td-box--dark a,
.td-box--primary a {
  color: lighten($primary, 25%) !important;

  &:hover {
    text-decoration: underline;
  }
}

.td-box--secondary a {
  color: darken($primary, 25%) !important;

  &:hover {
    text-decoration: underline;
  }
}

// Adjust anchors scroll snap (https://github.com/open-telemetry/opentelemetry.io/pull/348)
@include media-breakpoint-up(md) {
  h2[id],
  h3[id],
  h4[id],
  h5[id] {
    scroll-margin-top: 5rem;
  }
  h2[id]:before,
  h3[id]:before,
  h4[id]:before,
  h5[id]:before {
    margin-top: 0;
    height: 0;
  }
}

.o-banner {
  @include media-breakpoint-up(md) {
    width: 100%;
    position: fixed;
    margin-left: -15px;
    z-index: 32;
    top: 4rem;
  }

  background: $gray-100;
  text-align: center;

  & p {
    padding: 0.5rem;
    margin-bottom: initial;
  }
}

.td-page-meta--child {
  display: none !important;
}
.otel-docs-spec {
  .td-page-meta--edit {
    display: none !important;
  }
}

// Contribution section in community page
.community-contribution {
  text-align: center;

  & > p {
    font-size: $h3-font-size;
    font-weight: $headings-font-weight;
    line-height: $headings-line-height;
    margin-bottom: $headings-margin-bottom;
  }
}

.td-breadcrumbs__single {
  display: none !important;
}

.config-option {
  padding-inline-start: 1.5em;

  .label {
    font-weight: bold;
  }

  details {
    background-color: $gray-100;
    margin-bottom: 0.5em;

    summary {
      display: block;
      &::-webkit-details-marker {
        display: none;
      }

      &::after {
        color: $secondary;
        @extend .fas;
        content: fa-content($nbsp + $fa-var-plus-circle);
      }
    }

    &[open] summary::after {
      @extend .fas;
      content: fa-content($nbsp + $fa-var-minus-circle);
    }
  }
}

.td-content pre.mermaid {
  margin-block-end: 0;
  max-width: inherit;
  svg {
    height: auto;
  }
}

.td-content img:not(.img-initial) {
  display: block;
  border: $border-width solid $border-color;
  margin-bottom: $paragraph-margin-bottom;
  @extend .td-max-width-on-larger-screens;
}
