// cSpell:ignore otca

.ot-training {
  @extend .td-no-left-sidebar;
  $card-padding: 2rem;

  .badge--otca {
    margin-top: map-get($spacers, 4) !important;
    img {
      border-style: none !important;
      display: initial;
      max-width: 244px;
    }
    @include media-breakpoint-up(md) {
      padding-left: $card-padding;
    }

    @include media-breakpoint-down(md) {
      text-align: center;
    }
  }

  .card--course-wrapper {
    @include media-breakpoint-up(md) {
      padding-left: $card-padding;
    }
  }

  .card--course {
    margin-top: map-get($spacers, 5) !important;
    margin-bottom: map-get($spacers, 5) !important;

    @include media-breakpoint-down(md) {
      margin-left: auto !important;
      margin-right: auto !important;
    }

    img {
      padding-bottom: 2.6rem;
    }
  }
}
