/* docsy-delta full file override: we're not tracking changes to the docsy file of the same name. */

$twitter-blue: #00aced;
$gitter-magenta: #ec1363;
$opentelemetry-orange: #f5a800;
$opentelemetry-orange-light: #fff0ce;
$opentelemetry-blue: #4f62ad;
$opentelemetry-blue-light: #cee1ff;
$opentelemetry-purple: #425cc7;
$light-green: #c0f587;

$primary: $opentelemetry-blue;
$secondary: $opentelemetry-orange;
$td-enable-google-fonts: false;
$google_font_name: 'Noto Sans';
$google_font_family: 'Noto+Sans:300,400,600,700';

$enable-gradients: false;
$enable-rounded: true;
$enable-shadows: false;

$registry-vertical-margin: 1rem;
$green: #26c53e;
$dark-blue: #39a9da;

$core: #2c3ed3;
$instrumentation: #d32c3e;
$exporter: #3ed32c;
$extension: #d3532c;
$utilities: #2cd3b4;
$receiver: #742cd3;
$processor: #d32c42;

$collector: #070002;
$dotnet: #178600;
$cpp: #f34b7d;
$erlang: #b83998;
$go: #00add8;
$java: #b07219;
$javascript: #f1e05a;
$lua: #03037b;
$php: #4f5d95;
$python: #3572a5;
$ruby: #701516;
$rust: #dea584;
$swift: #de5d43;
