/* Docsy-delta full file override: we're not tracking changes to the Docsy file of the same name. */

$otel-colors: (
  'orange': hsl(41, 100%, 48%),
  'orange-light': hsl(42, 100%, 90%),
  'blue': hsl(228, 37%, 49%),
  'blue-light': hsl(217, 98%, 90%),
  'purple': hsl(228, 54%, 52%),
  'light-green': hsl(89, 85%, 75%),
);

$otel-component-colors: (
  'collector': hsl(340, 100%, 1%),
  'core': hsl(233, 65%, 50%),
  'cpp': hsl(341, 88%, 62%),
  'dotnet': hsl(106, 100%, 26%),
  'erlang': hsl(315, 53%, 47%),
  'exporter': hsl(115, 65%, 50%),
  'extension': hsl(17, 65%, 50%),
  'go': hsl(193, 100%, 42%),
  'instrumentation': hsl(354, 65%, 50%),
  'java': hsl(36, 75%, 39%),
  'js': hsl(52, 84%, 65%),
  'lua': hsl(240, 96%, 25%),
  'php': hsl(228, 31%, 45%),
  'processor': hsl(353, 65%, 50%),
  'python': hsl(212, 50%, 43%),
  'receiver': hsl(270, 65%, 50%),
  'resource-detector': hsl(120, 100%, 25%),
  'ruby': hsl(358, 79%, 25%),
  'rust': hsl(27, 57%, 70%),
  'swift': hsl(11, 71%, 57%),
  'utilities': hsl(169, 65%, 50%),
);

$otel-registry-license-colors: (
  'apache-20': hsl(330, 79%, 57%),
  'bsd-2-clause': hsl(88, 79%, 57%),
  'mit': hsl(211, 79%, 57%),
  'artistic-10-perl': hsl(47, 79%, 57%),
);

$primary: map-get($otel-colors, 'blue');
$secondary: map-get($otel-colors, 'orange');

$td-navbar-bg-color: shade-color($primary, 22%); // Should match $primary-darker
$navbar-light-active-color: $secondary;
$navbar-dark-active-color: $secondary;

// Link hover: use secondary as color base
$link-hover-color: darken($secondary, 20%);
$link-hover-color-dark: $secondary;
$navbar-light-hover-color: $secondary;
$navbar-dark-hover-color: $secondary;
