$twitter-blue: #00aced;
$gitter-magenta: #ec1363;
$opentelemetry-orange: #f5a800;
$opentelemetry-orange-light: #fff0ce;
$opentelemetry-blue: #4f62ad;
$opentelemetry-blue-light: #CEE1FF;
$opentelemetry-purple: #425cc7;
$light-green: #c0f587;

$primary: $opentelemetry-blue;
$secondary: $opentelemetry-orange;
$td-enable-google-fonts: false;
$google_font_name: "Noto Sans";
$google_font_family: "Noto+Sans:300,400,600,700";

$enable-gradients: false;
$enable-rounded: false;
$enable-shadows: false;

$registry-vertical-margin: 1rem;
$green: #26c53e;
$dark-blue: #39a9da;

$core: #2C3ED3;
$instrumentation: #D32C3E;
$exporter: #3ED32C;
$extension: #d3532c;
$utilities: #2CD3B4;
$receiver: #742cd3;
$processor: #d32c42;

$dotnet: #178600;
$cpp: #f34b7d;
$erlang: #B83998;
$go: #00ADD8;
$java: #b07219;
$javascript: #f1e05a;
$php: #4F5D95;
$python: #3572A5;
$ruby: #701516;
$rust: #dea584;
$collector: #070002;
