// note: if you add a new css file, make sure to import it here
@import "support/functions";
@import "variables_project";
@import "variables";
@import "support/mixins";

@import "../vendor/bootstrap/scss/bootstrap";

@import "../vendor/Font-Awesome/scss/fontawesome.scss";
@import "../vendor/Font-Awesome/scss/solid.scss";
@import "../vendor/Font-Awesome/scss/brands.scss";

@import "support/utilities";
@import "colors";
@import "boxes";
@import "blog";
@import "code";
@import "nav";
@import "sidebar-tree";
@import "sidebar-toc";
@import "buttons";
@import "breadcrumb";
@import "alerts";
@import "content";
@import "search";
@import "main-container";
@import "blocks/blocks";
@import "section-index";
@import "pageinfo";
@import "registry";
@import "tabs";

@if $td-enable-google-fonts {
  @import url($web-font-path);
}

footer {
  min-height: 150px;

  @include media-breakpoint-down(md) {
    min-height: 200px;
  }
}

// Adjust anchors vs the fixed menu.
@include media-breakpoint-up(md) {
  .td-offset-anchor:target {
    display: block;
    position: relative;
    top: -4rem;
    visibility: hidden;
  }

  h2[id], h3[id], h4[id], h5[id] {
    scroll-margin-top: 5rem;
  }
}

// Adjust the spacing of page-mata and page-TOC
.td-toc #TableOfContents {
  padding-top: 1rem;
}


@import "styles_project";

section#announcement {
  display: flex;
  justify-content: center;
  padding: 6px;
}

section#cncf {
  padding: 0;
  background: url(/img/logos/cncf-sandbox-horizontal-white.svg);
  background-position: center bottom;
  background-size: 240px;
  background-repeat: no-repeat;

  center {
    padding-bottom: 60px;

    p {
      font-size: 18px;
      font-weight: bold;
    }
  }
}


.td-box--dark p > a {
    color: #3176d9;
}

.td-box--dark p > a:hover,
a:hover {
    color: #3176d9;
    text-decoration: underline;
}
