{{- $color := .Get "color" | default "white" -}}
{{- $title := .Get "title" -}}

<div><a id="td-block-architecture-{{ .Ordinal }}" class="td-offset-anchor"></a></div>
<section class="row td-box td-box--{{ $color }} architecture-diagram">
  <div class="col-12">
    <div class="container architecture-diagram__container">
      {{ with $title }}
      <h2 class="architecture-diagram__title">{{ . }}</h2>
      {{ end }}
      <div class="architecture-diagram__content">
        {{ .Inner }}
      </div>
    </div>
  </div>
</section>

