{{ $color := .Get "color" | default "white" -}}
{{ $image := .Get "image" -}}
{{ $imageAlt := .Get "imageAlt" -}}

<div><a id="td-block-intro-{{ .Ordinal }}" class="td-offset-anchor"></a></div>
<section class="row td-box td-box--{{ $color }} intro-section">
  <div class="col-12">
    <div class="container">
      <div class="intro-content">
        <div class="intro-text">
          {{ .Inner | .Page.RenderString }}
        </div>
        {{ with $image -}}
        <div class="intro-image">
          <img src="{{ . }}" alt="{{ $imageAlt }}" class="img-fluid">
        </div>
        {{ end -}}
      </div>
    </div>
  </div>
</section>
