{{ $name := .Get "name" -}}
{{ $_envVar := $name | upper | replaceRE "[.-]" "_" -}}
{{ $envVar := .Get "envVar" | default $_envVar -}}

<div class="config-option">
<details>
  <summary title="Expand to view environment variable">
    <span class="label">System property</span>:
      <code>{{ $name }}</code>
  </summary>
  <span class="label">Environment variable</span>:
    <code>{{ $envVar }}</code>
</details>

{{ if isset .Params "default" -}}
  <span class="label">Default</span>: {{ .Get "default" }}<br>
{{ end -}}
<span class="label">Description</span>:
{{ trim .InnerDeindent "\n " }}
</div>
