{{ $home := site.BaseURL }}
<nav class="navbar is-primary is-fixed-top">
  <div class="container">
    <div class="navbar-brand">
      <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbar-menu">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>

    <div class="navbar-menu" id="navbar-menu">
      <div class="navbar-end">
        <div class="navbar-item">
          {{ partial "social-buttons.html" (dict "centered" false) }}
        </div>
      </div>
    </div>
  </div>
</nav>
