{{ $home   := site.BaseURL }}
{{ $logo   := printf "/img/logos/%s" site.Params.logos.navbar | relURL }}
{{ $social := site.Menus.social }}
<nav class="navbar is-white is-fixed-top">
  <div class="container">
    <div class="navbar-brand">
      <a class="navbar-item" href="{{ $home }}">
        <img src="{{ $logo }}" alt="OpenTelemetry project logo">
      </a>

      <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbar-menu">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>

    <div class="navbar-menu" id="navbar-menu">
      <div class="navbar-end">
        <div class="navbar-item">
          <div class="buttons">
            {{ range $social }}
            {{ $isGitHub := eq .Identifier "github" }}
            {{ $color := cond $isGitHub "black" .Identifier }}
            <a class="button is-{{ $color }} is-radiusless is-shadowless" href="{{ .URL }}" target="_blank">
              <span class="icon">
                <i class="fab fa-{{ .Identifier }}"></i>
              </span>
              <span class="has-text-weight-bold">
                {{ .Name }}
              </span>
            </a>
            {{ end }}
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>
