<div class="modal fade" id="privacyNotice" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="privacyNoticeLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="privacyNoticeLabel">
          Privacy policy
        </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Accept" title="Accept">
          <span aria-hidden="true"><i style="color: green" class="fas fa-check-circle"></i></span>
        </button>
      </div>
        <div class="modal-body">
        <p>
          This website uses cookies to deliver a better browsing experience.
          To learn more about how we use cookies, and how to
          view cookies and adjust your cookie settings, see our
          <a href="https://www.linuxfoundation.org/cookies/" class="external-link" target="_blank" rel="noopener">Cookie policy</a>.
        </p>
      </div>
    </div>
  </div>
</div>