{{ $name  := .project }}
{{ $tag   := .project | lower }}
{{ $logo  := printf "/img/logos/%s-icon-color.png" $tag | relURL }}
{{ $link  := printf "https://%s.io" $tag }}
{{ $desc  := (index site.Params $tag).description | markdownify }}
<div class="column">
  <a href="{{ $link }}" target="_blank">
    <div class="card">
      <div class="card-content">
        <div class="media">
          <div class="media-left">
            <figure class="image is-48x48">
              <img src="{{ $logo }}" alt="{{ .project }} logo">
            </figure>
          </div>
          <div class="media-content">
            <p class="title is-size-4 is-size-5-mobile">
              {{ $name }}
            </p>
            <p class="subtitle is-6">
              {{ $desc }}
            </p>
          </div>
        </div>
      </div>
    </div>
  </a>
</div>
