{{ $colors := dict
    "caution" "warning"
    "important" "info"
    "note" "primary"
    "tip" "success"
    "warning" "warning"
-}}

{{ $alertClass := index $colors .AlertType | default "primary" -}}
{{ $title := or
  .AlertTitle
  (and
    .AlertType
    (or (i18n .AlertType) (title .AlertType))
  )
-}}

{{/* For single-line alerts without a body, use the title as the body */ -}}
{{ $body := .Text -}}
{{ if and (not $body) .AlertTitle -}}
  {{ $body = .AlertTitle -}}
  {{ $title = "" -}}
{{ end -}}

<div class="alert alert-{{ $alertClass }}" role="alert">
{{- with $title -}}
  <div class="h4 alert-heading" role="heading">
    {{- . -}}
  </div>
{{- end }}
{{ $body }}
</div>
