{{ $blogData := getJSON "https://api.rss2json.com/v1/api.json?rss_url=https%3A%2F%2Fmedium.com%2Ffeed%2Fopentelemetry" }}
{{ $img := resources.Get "img/blog_card.jpg" }}
{{ $fittedImage := $img.Fit "400x400" }}
{{ range first 1 $blogData.items }}
<div class="card">
  <div class="card-image">
    <figure class="image is-square">
      <img src="{{$fittedImage.RelPermalink}}" id="blog-image" width="{{$fittedImage.Width}}" height="{{$fittedImage.Height}}"/>
    </figure>
  </div>
  <div class="card-content">
    <p class="title is-4" id="blog-title">{{ .title }}</p>
    <p class="subtitle is-6" id="blog-author">{{ .author }}</p>
  </div>
  <footer class="card-footer">
    <p class="card-footer-item"><span id="blog-date">{{ dateFormat "January 2, 2006" .pubDate }}</span></p>
    <p class="card-footer-item">
      <span>Read more on <a href="{{ .link }}" id="blog-link">Medium</a></span>
    </p>
  </footer>
</div>
{{ end }}


