<br>
<div class="container">
<div class="columns is-centered">
  <div class="column is-full">
    <div class="box">
      <h1 class="title has-text-centered">Governance Committee Elections Underway!</h1>
      <p class="has-text-centered">
        Save the date! The 2020 Governance Committee election has begun. Nominations are due by <strong>October 14th</strong> and voting runs 
        between <strong>October 26th - 28th</strong> - you can read more <a href="https://medium.com/opentelemetry/announcing-the-2020-opentelemetry-governance-committee-election-8eb6adae6f06">on Medium</a>
        or find full details <a href="https://github.com/open-telemetry/community/blob/master/elections/2020/governance-committee-election.md">here</a>.
      </p>
    </div>
  </div>
</div>
</div>
