<br>
<div class="container">
<div class="columns is-centered">
  <div class="column is-full">
    <div class="box has-background-primary has-text-white">
      <h1 class="title has-text-centered has-text-white">OpenTelemetry Beta Now Available!</h1>
      <p class="has-text-centered">
        The OpenTelemetry API and SDK for the following languages are now in beta:
        <a href="https://github.com/open-telemetry/opentelemetry-java">Java</a>,
        <a href="https://github.com/open-telemetry/opentelemetry-js">JavaScript</a>,
        <a href="https://github.com/open-telemetry/opentelemetry-python">Python</a>,
        <a href="https://github.com/open-telemetry/opentelemetry-go">Go</a>,
        and <a href="https://github.com/open-telemetry/opentelemetry-erlang">Erlang</a>!
        <br>
        In addition, the OpenTelemetry <a href="https://github.com/open-telemetry/opentelemetry-collector">Collector</a>
        and <a href="https://github.com/open-telemetry/opentelemetry-auto-instr-java">Java Auto-Instrumentation</a>
        betas are now available!
      </p>
    </div>
  </div>
</div>
</div>
