{{ $blogData := getJSON "https://api.rss2json.com/v1/api.json?rss_url=https%3A%2F%2Fmedium.com%2Ffeed%2Fopentelemetry" }}


<div class="columns is-centered">
  <div class="column is-one-third">
      <p class="is-size-4-desktop is-size-5-tablet is-size-6-mobile has-text-weight-bold">
          The latest from our blog - 
      </p>

      {{ range first 1 $blogData.items }}
<div class="card">
  {{ if in .thumbnail ".png" }}
  <div class="card-image">
    <figure class="image">
      <img src="{{ .thumbnail }}" id="blog-image" />
    </figure>
  </div>
  {{ end }}
  <div class="card-content">
    <p class="title is-4" id="blog-title">{{ .title }}</p>
    <p class="subtitle is-6" id="blog-author">{{ .author }}</p>
  </div>
  <footer class="card-footer">
    <p class="card-footer-item">Posted on&nbsp;<span id="blog-date">{{ dateFormat "January 2, 2006" .pubDate }}</span></p>
    <p class="card-footer-item">
      <span>Read more on <a href="{{ .link }}" id="blog-link">Medium</a></span>
    </p>
  </footer>
</div>
{{ end }}
  </div>
  </div>
</div>


