{{ $faq := site.Data.faq }}
<section class="section">
  <div class="container">
    <div class="columns is-variable is-8">
      <div class="column is-3">
        <p class="title is-size-3 is-size-4-mobile has-text-weight-bold">
          FAQ
        </p>

        <hr class="highlight" />
      </div>

      <div class="column">
        {{ range $faq }}
        {{ $question := .q | markdownify }}
        {{ $answer   := .a | markdownify }}
        <div class="faq">
          <p class="title is-size-4 is-size-5-mobile is-spaced has-text-weight-light is-spaced">
            {{ $question }}
          </p>
        
          <p class="subtitle is-size-5 is-size-6-mobile has-text-weight-light">
            {{ $answer }}
          </p>
        </div>
        {{ end }}
      </div>
    </div>
  </div>
</section>
