{{ $title      := .Title }}
{{ $tagline    := site.Params.tagline | markdownify }}
{{ $subtagline := site.Params.sub_tagline | markdownify }}
{{ $logo       := printf "/img/logos/%s" site.Params.logos.hero | relURL }}
<section class="hero is-medium">
  <div class="hero-body">
    <div class="container">
      <div class="columns is-vcentered is-variable is-8">
        <div class="column has-text-centered">
          <img class="main-hero-logo" src="{{ $logo }}">
        </div>

        <div class="column">
          <p class="subtitle is-size-2-desktop is-size-3-tablet is-size-4-mobile has-text-weight-light">
            {{ $tagline }}
          </p>

          <hr class="highlight" />
    
          <p class="is-size-3-desktop is-size-4-tablet is-size-5-mobile has-text-weight-light">
            {{ $subtagline }}
          </p>

          <br />

          {{ partial "social-buttons.html" (dict "centered" false) }}
        </div>
      </div>
    </div>
  </div>
</section>
