{{ $title      := .Title }}
{{ $tagline    := site.Params.tagline | markdownify }}
{{ $subtagline := site.Params.sub_tagline | markdownify }}
{{ $description := site.Params.sub_description | markdownify }}
{{ $logo       := printf "/img/logos/%s" site.Params.logos.hero | relURL }}
<section class="hero is-medium">
  <div class="hero-body">
    <div class="container">
        <div class="column is-6 is-offset-6 box">
          <img class="main-hero-logo" src="{{ $logo }}">
          <p class="subtitle is-size-2-desktop is-size-3-tablet is-size-4-mobile has-text-weight-light">
            {{ $subtagline }}
          </p>

          <hr class="highlight" />

          <p class="is-size-5-desktop is-size-6-tablet is-size-6-mobile has-text-weight-light">
            {{ $description }}
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
