{{ $learnMore := site.Data.learn }}
<section class="section">
  <div class="container">
    <div class="columns">
      <div class="column is-3">
        <p class="title is-size-3 is-size-4-mobile has-text-weight-bold">
          Learn more
        </p>

        <hr class="highlight is-secondary" />
      </div>

      <div class="column">
        <table class="table">
          <thead>
            <tr>
              <th>
                Article or video
              </th>
              <th>
                Source
              </th>
            </tr>
          </thead>
          <tbody>
            {{ range $learnMore }}
            <tr>
              <td>
                <a href="{{ .url }}" target="_blank">
                  {{ .title }}
                </a>
              </td>
              <td>
                <a href="{{ .source.url }}" target="_blank">
                  {{ .source.title }}
                </a>
              </td>
            </tr>
            {{ end }}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>
