{{ $learnMore := site.Data.learn }}
<section class="section">
  <div class="container">
    <div class="columns">
      <div class="column is-3">
        <p class="title is-size-3 is-size-4-mobile has-text-weight-bold">
          Learn more
        </p>

        <hr class="highlight is-secondary" />
      </div>

      <div class="column">
        <div class="list is-hoverable is-radiusless">
          {{ range $learnMore }}
          <a class="list-item is-size-5 is-size-6-mobile has-background-white" href="{{ .url }}" target="_blank">
            {{ .title }}
          </a>
          {{ end }}
        </div>
      </div>
    </div>
  </div>
</section>
