<div class="card">
  <div class="card-image">
    <figure class="image">
      <img src="/img/oteltuessplash_sm.png" />
    </figure>
  </div>
  <div class="card-content">
    <p class="title is-4">OpenTelemetry Tuesdays</p>
    <p class="subtitle is-6">Presented by Liz Fong-Jones and Isobel Redelmeier</p>
  </div>
  <footer class="card-footer">
    <p class="card-footer-item">
      <span>Subscribe to our channel on <a href="https://www.twitch.tv/opentelemetry">twitch.tv/opentelemetry</a></span>
    </p>
  </footer>
</div>


