<br>
<div class="container">
<div class="columns is-centered">
  <div class="column is-full">
    <div class="box">
      <h1 class="title has-text-centered"Now Incubating Logging!</h1>
      <p class="has-text-centered">
        We've started a special interest group focused on logging functionality. If you're interested in this topic,
        please join our <a href="https://github.com/open-telemetry/community#logs-working-group">working group meetings</a> and
        <a href="https://gitter.im/open-telemetry/logs">Gitter chat</a>.
      </p>
    </div>
  </div>
</div>
</div>
