{{ $observability := site.Params.observability | markdownify }}
<section class="section observability-section">
  <div class="container">
    <div class="columns is-variable is-8">
      <div class="column is-3">
        <p class="title is-size-3 is-size-4-mobile has-text-weight-bold">
          Observability
        </p>

        <hr class="highlight is-secondary" />
      </div>

      <div class="column">
        <div class="content is-medium">
          {{ $observability }}
        </div>
      </div>
    </div>
  </div>
</section>
