<section class="section has-text-centered has-background-white-bis">
  <div class="container">
    <p class="title is-size-3 is-size-4-mobile has-text-weight-bold">
      Download OpenTelemetry
    </p>
    <div class="columns is-vcentered">
      <div class="column">
        <div class="card">
          <header class="card-header">
            <p class="card-header-title is-centered">
              For Developers
            </p>
          </header>
          <div class="card-content">
            <div class="content">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci
              itaque, enim dicta incidunt quaerat deserunt? Nulla pariatur cum
              nobis, incidunt amet, reprehenderit, aspernatur nam dolore harum
              magnam aliquid officiis? Nesciunt!
            </div>
          </div>
        </div>
      </div>
      <div class="column">
        <div class="card">
          <header class="card-header">
            <p class="card-header-title is-centered">
              For Operators
            </p>
          </header>
          <div class="card-content">
            <div class="content">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci
              itaque, enim dicta incidunt quaerat deserunt? Nulla pariatur cum
              nobis, incidunt amet, reprehenderit, aspernatur nam dolore harum
              magnam aliquid officiis? Nesciunt!
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
