<section class="section has-text-centered has-background-white-bis">
  <div class="container">
    <p class="title is-size-3 is-size-4-mobile has-text-weight-bold">
      Get Started
    </p>
    <div class="columns is-vcentered">
      <div class="column">
        <div class="card">
          <header class="card-header">
            <p class="card-header-title is-centered">
              For Developers
            </p>
          </header>
          <div class="card-content has-text-justified">
            <div class="content">
              <ul>
                <li>
                  Introduction to Distributed Tracing and Metrics
                </li>
                <li>
                  Installing the OpenTelemetry SDK
                </li>
                <li>
                  Migrating from OpenTracing or OpenCensus
                </li>
                <li>
                  Explore instrumentation plugins
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="column">
        <div class="card">
          <header class="card-header">
            <p class="card-header-title is-centered">
              For Operators
            </p>
          </header>
          <div class="card-content has-text-justified">
            <div class="content">
                <div class="content">
                <ul>
                  <li>
                    Introduction to the OpenTelemetry Collector
                  </li>
                  <li>
                    Explore automatic instrumentation options
                  </li>
                  <li>
                    Configuring OpenTelemetry exporters
                  </li>
                  <li>
                    Interpreting trace data
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
