{{ $timeline := site.Data.timeline }}
<section class="section">
  <div class="container">
    <div class="columns">
      <div class="column is-3">
        <p class="title is-size-3 is-size-4-mobile has-text-weight-bold">
          OpenTelemetry timeline
        </p>

        <hr class="highlight is-secondary" />
      </div>

      <div class="column content is-medium">
        <table class="table is-fullwidth">
          <thead>
            <tr>
              <th>
                Milestone
              </th>
              <th>
                Date
              </th>
            </tr>
          </thead>
          <tbody>
            {{ range $timeline }}
            <tr>
              <td>
                {{ .milestone }}{{ if .asterisk }}<sup><strong>*</strong></sup>{{ end }}
              </td>
              <td>
                {{ .date }}
              </td>
            </tr>
            {{ end }}
          </tbody>
        </table>

        <br />

        <p class="is-size-5 is-size-6-mobile has-text-weight-light">
          <sup><strong>*</strong></sup> Dates are subject to change based on community participation and other factors
        </p>
      </div>
    </div>
  </div>
</section>
