{{- $color := .Get "color" | default "light" -}}
{{- $columns := .Get "columns" | default "3" -}}

<div><a id="td-block-otel-features-{{ .Ordinal }}" class="td-offset-anchor"></a></div>
<section class="row td-box td-box--{{ $color }} otel-features-section">
  <div class="col-12">
    <div class="container">
      {{ with .Get "title" }}
      <h2 class="otel-features__title text-center">{{ . }}</h2>
      {{ end }}
      {{ with .Get "subtitle" }}
      <p class="otel-features__subtitle text-center">{{ . }}</p>
      {{ end }}
      <div class="otel-features otel-features--cols-{{ $columns }}">
        {{ .Inner }}
      </div>
    </div>
  </div>
</section>

