{{ $registry := .Site.Data.registry -}}

{{ $languageNames := newScratch -}}
{{ $languageNames.Set "cpp" "C++" -}}
{{ $languageNames.Set "dotnet" ".NET" -}}
{{ $languageNames.Set "js" "JavaScript" -}}
{{ $languageNames.Set "php" "PHP" -}}


{{ $langs := slice -}}
{{ range $registry -}}
  {{ $language := .language -}}
  {{ $langs = $langs | append $language -}}
  {{ if ne $language (lower $language) -}}
    {{ errorf "Language keys must be in lowercase. Registry entry '%s' has the following invalid key: %s" .title $language -}}
  {{ end -}}
{{ end -}}
{{ $langs = $langs | uniq | sort -}}

{{ $types := slice -}}
{{ range $registry -}}
  {{ $type := .registryType -}}
  {{ $types = $types | append $type -}}
  {{ if ne $type (lower $type) -}}
    {{ errorf "Component-type keys must be in lowercase. Registry entry '%s' has the following invalid key: %s" .title $type -}}
  {{ end -}}
{{ end -}}
{{ $types = $types | uniq | sort -}}

<div class="pb-4">
  <form action="/ecosystem/registry" id="searchForm">
    <div class="input-group">
      <span class="input-group-text" id="basic-addon1" title="{{ len $registry }} entries">Search</span>
      <input class="form-control w-auto" id="search-query" type="text" name="s"
        aria-label="Registry search input field">

      <input type="hidden" name="component" id="input-component" value="" />
      <input type="hidden" name="language" id="input-language" value="" />

      <button type="button" class="btn btn-outline-success"
        onclick="document.getElementById('searchForm').submit();">Submit</button>
      <button type="button" class="btn btn-outline-danger"
        onclick="document.getElementById('search-query').value = ''; document.getElementById('input-language').value = 'all';document.getElementById('input-component').value = 'all';document.getElementById('searchForm').submit();">Reset</button>

      <button class="btn btn-outline-secondary dropdown-toggle" id="languageDropdown" type="button"
        data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Language</button>
      <div class="dropdown-menu" id="languageFilter">
        <a value="all" class="dropdown-item">Any Language</a>
        {{ range $langs -}}
        <a value="{{ . }}" id="language-item-{{ . }}" class="dropdown-item">{{ $languageNames.Get . | default (humanize
          .) }}</a>
        {{ end -}}
      </div>

      <button class="btn btn-outline-secondary dropdown-toggle" id="componentDropdown" type="button"
        data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Type</button>
      <div class="dropdown-menu" id="componentFilter">
        <a value="all" class="dropdown-item">Any Component</a>
        {{ range $types -}}
        <a value="{{ . }}" id="component-item-{{ . }}" class="dropdown-item">{{ humanize . }}</a>
        {{ end -}}
      </div>

    </div>
  </form>
</div>

<div class="mx-auto">
  <ul class="list-unstyled" id="search-results"></ul>
  <ul class="list-unstyled" id="default-body">
    {{ range $key, $value := $registry -}}
      {{ $value = merge $value (dict "_key" $key) -}}
      {{ template "registry-entry" $value }}
    {{ end -}}
  </ul>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/fuse.js/3.2.0/fuse.min.js" integrity="sha384-Xc1CJXitscYgtGvAiyGiYeJGEL6VJ2x6v77/VTd0HoykX00Cc/2F7ai3HuuMtgd+" crossorigin="anonymous"></script>
{{ partial "script.html" (dict "src" "js/registrySearch.js") -}}

{{- define "registry-entry" -}}
{{ $currentTime := (time now) }}
{{ $repoHref := printf "href=%q" .urls.repo | safeHTMLAttr -}}
{{ $delta := $currentTime.Sub (time.AsTime .createdAt) -}}
{{ $isNew := lt $delta.Hours 730 }}
<li class="card my-3 registry-entry {{ if $isNew -}} border-secondary{{ end -}}" data-registry-id="{{ ._key }}" data-registrytype="{{ .registryType }}" data-registrylanguage="{{ .language }}">
  <div class="card-body container-fluid">
    <h5 class="card-title">
      <a {{ $repoHref }} target="_blank" rel="noopener">
        {{- .title | markdownify -}}
      </a>
      
      {{ if $isNew -}}
      <span class="badge mx-1 rounded-pill text-bg-secondary">new!</span>
      {{ end -}}
    </h5>
    <div class="d-flex flex-row mb-3">
      <span class="me-auto p-0">
        {{- .description | markdownify -}}
      </span>
      <div class="ms-auto px-2">
        {{ with .language -}}
          <span class="badge badge-{{ . }}">{{ . }}</span>
        {{- end }}
        {{ with .registryType -}}
          <span class="badge badge-{{ . }} me-1">{{ . }}</span>
        {{- end -}}
        {{ with .license -}}
          <span class="badge badge-{{ . | anchorize }} me-1">{{ . }}</span>
        {{- end -}}
      </div>
    </div>
    {{ with .urls.homepage -}}
    {{ $homepageHref := printf "href=%q" . | safeHTMLAttr -}}
    <a {{ $homepageHref }} class="card-link">Homepage</a>
    {{- end -}}
    {{ with .urls.docs -}}
    {{ $docsHref := printf "href=%q" . | safeHTMLAttr -}}
    <a {{ $docsHref }} target="_blank" rel="noopener" class="card-link">Documentation</a>
    {{- end -}}
    {{ with .urls.packageRegistry -}}
    {{ $packageRegistryUrl := printf "href=%q" . | safeHTMLAttr -}}
    <a {{ $packageRegistryUrl }} class="card-link">Package Registry</a>
    {{- end -}}
    {{ with .urls.repo -}}
    <a {{ $repoHref }} target="_blank" rel="noopener" class="card-link">Repository</a>
    {{- end -}}
  </div>
</li>
{{- end -}}
