{{ $data := "" }}
{{ if site.Data.progress_generated }}
  {{ $data = site.Data.progress_generated }}
{{ else }}
  {{ $data = site.Data.progress_source }}
{{ end }}
{{ $progressData := $data.data }}

{{- range $progressData }}
  <h3 class="title is-3">{{ .label }}</h3>
  {{ if ne .releaseName "n/a" }}
    <h4 class="subtitle is-5"><a href="{{ .releaseUrl }}">{{ .releaseName }}</a></h4>
    <pre>{{ .releaseDescription }}</pre>
  {{ else }}
    <p>No release information available from GitHub.</p>
  {{ end }}
{{ end }}
