name: Check links and refcache # cSpell:ignore refcache

on:
  pull_request:

jobs:
  check-formatting:
    name: Check links and refcache
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          cache: 'npm'
      - run: npm install
      - run: npm run build
      - run: npm run _check:links

      - name: Fail on uncommitted refcache changes
        run: npm run diff:fail
